*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body{
    background:#000000;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */
header{
  width: 100%;  
  padding: 40px 0;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 1px;
    height: 5px;
}


header .menu-desktop nav ul  {
    list-style: none;
    color: #fff;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 40px;
}

header .menu-desktop nav ul li a {
    text-decoration: none;
}

header .btn-contato button{
    width: 140px;  
    height:50px;
    background-color:transparent;
    border:1px solid #fff;
    color: #fff;
    cursor: pointer;
}
