*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body{
    background:#000000;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */
header{
  width: 100%;  
  padding: 40px 0;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
   width: 90px; 
    height: 90px; 
    border-radius:50%; 
    border: 3px solid #fff; 
    margin-left: 2px;
    border-radius: 70%;
}


header .menu-desktop nav ul  {
    list-style: none;
    color: #fff;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 40px;
}

header .menu-desktop nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

header .menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .btn-contato button{
    width: 140px;  
    height:50px;
    background-color:transparent;
    border:1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

header .btn-contato button:hover{
    background-color: #fff;
    color: #000;
}
